# Automatically renew the SSL certificate on 1st of month (if needed)
# (Now just removing current certs and killing server process, renewal happens in asdc_init.sh)
# An empty line is required at the end of this file for a valid cron file.

