{% extends "app/logged_in_base.html" %}
{% load i18n %}

{% block content %}

 
<style>
    html {
      height: 100%;
      overflow-y: auto;
    }
    
    .about-text{
        z-index: 2; 
        position: absolute;
        margin-right: 12px;
    }
    </style>

{% load i18n %}

<div class="text-center about-text">
    <h2 class="theme-secondary">ASDC WebODM {{ version }}</h2>
    <hr>
    
    <div style="margin-bottom: 16px; margin-top: 16px;"><i class="fab fa-github"></i> <a target="_blank" href="https://github.com/AuScalableDroneCloud/WebODM">https://github.com/AuScalableDroneCloud/WebODM</a></div>

    <h3 class="theme-secondary">based on OpenDroneMap : WebODM {{ version }}</h3>

    <div style="margin-bottom: 16px; margin-top: 16px;"><i class="fab fa-github"></i> <a target="_blank" href="https://github.com/OpenDroneMap/WebODM">https://github.com/OpenDroneMap/WebODM</a></div>

    <div style="font-size: 90%; opacity: 0.9;" class="theme-secondary">{% blocktrans with link_start="<a href='https://raw.githubusercontent.com/OpenDroneMap/WebODM/master/LICENSE.md'>" link_end='</a>' %}This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. See {{link_start}}the GNU Affero General Public License{{link_end}} for more details.{% endblocktrans %}</div>

    <hr>
    <a id="privacy"><h3>Privacy Policy</h3></a>

    <p style="text-align:Left;">The only personal information collected by Australian Scalable Drone Cloud (ASDC) is name and email data entered by users or obtained via 3rd party authentication services (AAF,Google,Github). This information is stored securely on our servers and will not be shared with any other organisations or entities.</p>
    <p style="text-align:Left;">Your email address may be used to contact you about your account or data or changes in our policies.</p>
    <p style="text-align:Left;">This policy may be updated but will always be available <a href="https://asdc.cloud.edu.au/about#privacy">here</a></p>
    <p style="text-align:Left;">If you enable the Google Drive integration, files chosen by you stored on Google Drive may be accessed by the software running on this site to allow you to import data for processing, this is the only purpose for which this feature is used and only those files selected and imported by you will be accessed and stored.</p>
    <p style="text-align:Left;">ASDC's use and transfer to any other app of information received from Google APIs will adhere to the <a href="https://developers.google.com/terms/api-services-user-data-policy#additional_requirements_for_specific_api_scopes">Google API Services User Data Policy</a>, including the Limited Use requirements.</p>
    <p style="text-align:Left;">You may delete your account and related data at any time</p>
    <p style="text-align:Left;">If you need to contact us about your account, you can use this email address: owen.kaluza (at) monash.edu</p>


    <hr>
    <a id="terms"><h3>Terms and Contitions</h3></a>

      <p style="text-align:Left;">These terms and conditions (the "Terms and Conditions") govern the use of <span style="font-style:normal;font-weight:bold;">asdc.cloud.edu.au</span> (the "Site"). This Site is owned and operated by Australian Scalable Drone Cloud.<br><br>By using this Site, you indicate that you have read and understand these Terms and Conditions and agree to abide by them at all times.
      </p><div>
      <p style="text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Intellectual Property</span><br>All content published and made available on our Site is the property of Australian Scalable Drone Cloud and the Site's creators. This includes, but is not limited to images, text, logos, documents, downloadable files and anything that contributes to the composition of our Site.
      </p></div><div>
      <p style="text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Accounts</span><br>When you create an account on our Site, you agree to the following:
      </p>
      <ol style="text-align:Left;list-style:decimal;" start="1">
        <li value="1"><span>You are solely responsible for your account and the security and privacy of your account, including passwords or sensitive information attached to that account; and</span><span style="color:#000000;"><br></span>
        </li>
        <li value="2"><span>All personal information you provide to us through your account is up to date, accurate, and truthful and that you will update your personal information if it changes.</span><span style="color:#000000;"><br></span>
        </li>
      </ol>
      <p style="text-align:Left;">We reserve the right to suspend or terminate your account if you are using our Site illegally or if you violate these Terms and Conditions.
      </p></div><div>
      <p style="text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Limitation of Liability</span><br>Australian Scalable Drone Cloud and our directors, officers, agents, employees, subsidiaries, and affiliates will not be liable for any actions, claims, losses, damages, liabilities and expenses including legal fees from your use of the Site.
      </p></div><div>
      <p style="text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Indemnity</span><br>Except where prohibited by law, by using this Site you indemnify and hold harmless Australian Scalable Drone Cloud and our directors, officers, agents, employees, subsidiaries, and affiliates from any actions, claims, losses, damages, liabilities and expenses including legal fees arising out of your use of our Site or your violation of these Terms and Conditions.
      </p></div><div>
      <p style="text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Applicable Law</span><br>These Terms and Conditions are governed by the laws of the State of Victoria.
      </p></div><div>
      <p style="text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Severability</span><br>If at any time any of the provisions set forth in these Terms and Conditions are found to be inconsistent or invalid under applicable laws, those provisions will be deemed void and will be removed from these Terms and Conditions. All other provisions will not be affected by the removal and the rest of these Terms and Conditions will still be considered valid.
      </p></div><div>
      <p style="text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Changes</span><br>These Terms and Conditions may be amended from time to time in order to maintain compliance with the law and to reflect any changes to the way we operate our Site and the way we expect users to behave on our Site. We will notify users by email of changes to these Terms and Conditions or post a notice on our Site.
      </p></div>
</div>

{% endblock %}
